*.log
node_modules/
dist/
*.env
.bashrc
.zshrc
*.swp
*.swo
*.bak
*.tmp
*.cache
*.pid
*.lock
*.log.*
*.log.*.gz
*.claude
*.copilot
*.config
*.dotnet
*.local
.vscode-server/
*.idea/
.bash_history
.bash_logout
.zsh_history
.zsh_logout
.profile
.sudo_as_admin_successful
.wget-hsts

# python
__pycache__/
*.py[cod]
.venv/
.venv/*
*.pyc
*.pt
*.pth
*.pkl
*.h5
dashboard/
.vscode/
.idea/
wiki/
snap/
data_files/

*json